.application {
  display: flex;

  @media (width<=768px) {
    flex-direction: column;
  }
}

.editorsSection {
  display: flex;
  flex: 1;
  padding: 0.5rem;

  @media (width<=768px) {
    flex-direction: column;
  }
}

.sidePanel {
  flex: 0 1 15rem;
}

.editors {
  display: flex;
  flex: 1;
  flex-wrap: wrap;

  padding: 0.5rem;

  background-color: rgba($grey-69, 0.071);
  border-radius: 1.25rem;

  @media (width <=768px) {
    flex-direction: column;
  }
}

.requestEditor,
.responseSection {
  flex: 1;
}
