.breakViewport {
  min-height: 100dvh;
}

.application {
  @include small-tablet {
    flex-direction: column;
  }

  display: flex;
}

.editorsSection {
  @include small-tablet {
    flex-direction: column;
  }

  display: flex;
  flex: 1;
  padding: 0.5rem;
}

.sidePanel {
  flex: 0 1 24rem;
  position: absolute;
  left: 48px;
  z-index: 1;
  background-color: white;
  width: 93%;
  height: 500px;
  overflow: scroll;

  @media (max-width: 768px) {
    left: 0;
    width: 100%;
  }
}

.editors {
  @include small-tablet {
    flex-direction: column;
  }

  display: flex;
  flex: 1;
  flex-wrap: wrap;

  padding: 0.5rem;

  background-color: rgba($grey-69, 0.071);
  border-radius: 1.25rem;
}

.requestEditor,
.responseSection {
  flex: 1;
}
