.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (width<=768px) {
    flex-direction: row;
  }
}

.buttonSection {
  display: flex;
  flex-direction: column;

  @media (width<=768px) {
    flex-direction: row;
  }
}
