.variablesEditorArea {
  resize: none;

  display: block;

  width: 100%;
  min-width: 16rem;
  padding: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  outline: none;

  transition: box-shadow 250ms;

  &:hover {
    box-shadow: inset 0 0 2.5rem -2rem;
  }
}
