.root:global(.container) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 33%;

  @media (max-width: 850px) {
    max-width: 50%;
  }
  @media (max-width: 600px) {
    max-width: 75%;
  }
}
