.container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
}

.heading {
  font-size: 22px;
  line-height: 28px;
  color: $primary;
}

.link {
  @include btn-primary;
}
