.requestEditorSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding: 0.5rem;

  background-color: $white;
  border-radius: 0.75rem;
}

.queryEditorSection {
  flex: 1;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
}

.subEditorTabs {
  display: flex;
  column-gap: 0.5rem;

  @media (width<=375px) {
    padding: 0.25rem;

    & > button {
      padding-inline: 0.5rem;
    }
  }
}
