@mixin btn-secondary {
  padding: 9px 23px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $primary;
  background-color: $white;
  border: 1px solid $grey-7E;
  border-radius: 100px;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  letter-spacing: 0.1px;

  &:not(:disabled):hover {
    background-color: $primary_light;
  }

  &:not(:disabled):focus {
    outline: none;
    background-color: $primary_light;
    border-color: $primary;
  }

  &:not(:disabled):active {
    background-color: $primary_light;
  }

  &:disabled {
    color: $grey-E4;
    border-color: $grey-E4;
    background-color: $white;
    cursor: not-allowed;
  }
}
