.root {
  background-color: $primary;
  padding: 20px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 670px) {
    flex-direction: column;
    gap: 15px;
  }
}

.students {
  display: flex;
  gap: 10px;
  white-space: nowrap;

  & .link {
    color: $white;
    transition: color $transition-set;

    &:hover {
      color: $grey-E4;
    }
  }

  @media (max-width: 670px) {
    font-size: 12px;
  }
}

.date {
  pointer-events: none;
  user-select: none;
}

.logo {
  height: 100%;
  width: 8rem;
  transition: opacity $transition-set;

  &:hover {
    opacity: $opacity;
  }
}
