.editors {
  display: flex;
  padding: 0.5rem;
  background-color: rgba($grey-69, 0.071);
  border-radius: 1.25rem;
}

.queryEditor {
  padding: 0.5rem;
  background-color: $white;
  border-radius: 0.75rem;
}

.jsonViewer {
  padding: 0.5rem;
  background-color: transparent;
}
